body{
    font-family: 'Ruda', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    background-color: #E6E6FA;
}

.wrapper{
    margin:0 auto;
    width:80%;
}

h1{
    text-align: center;
    font-family: 'Volkhov', serif;
	text-transform: capitalize;
	font-size:40px;
}

h2{
    font-size:30px;
}

h3{
    font-size: 14px;
}

input[type="text"]{
    text-transform: capitalize;
    font-family: 'Ruda', sans-serif;
    padding: 1% 5%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #4682B4;
}

.userChoice, .search{
    margin-top: 5%;
    padding: 0.7% 1%;
    text-transform: capitalize;
    font-family: 'Ruda', sans-serif;
    border-radius: 5px;
    background: #4682B4;
    font-weight: 700;
    color: white;
    border: 2px solid aliceblue;
    font-size: 18px;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}

li{
    margin: 10px 15px;
}

.restaurantResult{
    width:100%;
    margin-top: 30px;
}

.item{
   width: 35%;
   margin:0 10px;
   border: 2px solid #ccc;
   flex-wrap: wrap;
}

.mainPhoto{
   width:100%;
   height: 200px;
}

..restaurantResult{
  touch-action: none;
}

@media screen and (min-device-width: 179px) and (max-device-width: 283px) {
    input[type="text"]{
        font-size: 12px;
    }
}

@media screen and (max-device-width: 179px){
    input[type="text"]{
        font-size: 9px;
    }
}

@media screen and (min-device-width: 560px) and (max-device-width: 905px){
    h2{
        font-size: 22px;
    }

    body{
        font-size:14px;
    }
}

@media screen and (min-device-width: 250px) and (max-device-width: 560px) {
    h2{
        font-size: 16px;
    }

    h3{
        font-size:14px;
    }

    body{
        font-size: 12px;
    }
}

@media screen and (max-device-width: 250px) {
    h2{
        font-size: 14px;
    }

    h3{
        font-size:12px;
    }

    body{
        font-size: 9px;
    }
}

@media screen and (min-device-width: 510px) and (max-device-width: 1070px) {
    .item{
        width:45%;
    }
}

@media screen  and (max-device-width: 510px) {
    .item{
        width:90%;
    }
}