html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body{
    font-family: 'Ruda', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/pablo-merchan-montes-Orz90t6o0e4-unsplash2.jpg') no-repeat;
    width: 100%;
    position: relative;
    background-size: cover
}

.wrapper{
    margin:0 auto;
    width:85%;
}

.text{
    margin-top: 11%;
    color: cornsilk; 
    text-align: left;
}

h1{
    font-family: 'Volkhov', serif;
	text-transform: capitalize;
	font-size:40px;
}

h2{
    font-size:30px;
}

h3{
    font-size: 14px;
}

input[type="text"]{
    text-transform: capitalize;
    font-family: 'Ruda', sans-serif;
    padding: 1% 5%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #4682B4;
    border-radius: 5px;
}

 .search{
    margin-left: 1%;
    margin-top: 2%;
    padding: 0.7% 1%;
    text-transform: capitalize;
    font-family: 'Ruda', sans-serif;
    border-radius: 5px;
    background: bottom;
    font-weight: 700;
    color: white;
    border: 2px solid aliceblue;
    font-size: 18px;
    cursor: pointer;
}

.cuisineType{
    background: bottom;
    color: aliceblue;
    margin-top: 2%;
    padding: 5px;
    text-transform: capitalize;
    font-family: 'Ruda', sans-serif;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid white;
    font-size: 18px;
    cursor: pointer;
}

.cuisineType.clicked{
  background: #0073B1;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

li{
    margin: 10px 15px;
}

li:nth-child(1){
    margin-left:0;
}

.restaurantResult{
    width:100%;
    margin: 30px 0;
    /*touch-action: none;*/
    padding: 30px 0;
    background:transparent;
    color: aliceblue;
    /*overflow: hidden;*/
    padding: 0px;
    margin: 0px;
}

.item{
    width: 30%;
    padding:0 10px;
    margin:0 20px;
    border: 2px solid #ccc;
    justify-content: center;
    color: aliceblue;
    margin-bottom: 20px;
}


.flickity-viewport {
    overflow: hidden;
    position: relative;
    min-height:750px;
}


.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

button:not(:disabled) {
  cursor: pointer;
}

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: hsla(0,0%,100%,.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mainPhoto{
   width:100%;
   object-fit: cover;
}

@media screen and (min-device-width: 179px) and (max-device-width: 283px) {
    input[type="text"]{
        font-size: 12px;
    }
}

@media screen and (max-device-width: 179px){
    input[type="text"]{
        font-size: 9px;
    }
}

@media screen and (min-device-width: 560px) and (max-device-width: 905px){
    h2{
        font-size: 22px;
    }

    body{
        font-size:14px;
    }
}

@media screen and (max-device-width: 915px) {
    .item{
        width:65%;
    }
}

@media screen and (min-device-width: 250px) and (max-device-width: 560px) {
    h2{
        font-size: 16px;
    }

    h3{
        font-size:14px;
    }

    body{
        font-size: 12px;
    }
}

@media screen and (max-device-width: 250px) {
    h2{
        font-size: 14px;
    }

    h3{
        font-size:12px;
    }

    body{
        font-size: 12px;
    }
}

@media screen  and (max-device-width: 510px) {
    button.search{
        margin-top:10px;
    }

}
